.chat-page {
  background-color: #6B728E;
  max-height: 100vh;
  overflow: hidden;

  >* {
    min-height: 100vh !important;
    max-height: 100vh !important;
  }
}


$y-border-element-height: 50px;

@import './Chat.scss';
@import './ChatList.scss';
@import './ChatSideArea.scss';
@import './Home.scss'
