.chat-side-area {
  background-color: #474E68;

  .navbar {
    background-color: #404258;
    min-height: $y-border-element-height;
    color: white;

    .gear-icon {
      cursor: pointer;
      background-color: #404258;
      border: none;

      &:hover {
        background-color: #474E68;
      }
    }

    .drop-menu {
      background-color: #404258;

      .drop-menu-text {
        color: white;
        
        &:hover {
          background-color: #6B728E;
        }
      }

    }
  }

  .search {
    border-bottom: 1px solid gray;

    .search-form {
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        color: white;
        outline: none;
        width: 100%;

        &::placeholder {
          color: lightgray;
        }
      }
    }
  }

  .nav-bottom {
    background-color: #404258;
    min-height: $y-border-element-height;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logout-btn{
      background-color: #474E68;
      border: none;

      &:hover {
        background-color: #6B728E;
      }
    }
  }
}

@include media-breakpoint-down(lg){
  .chat-side-area{
    display: none !important;
  }
}